<% provide(:title, 'About') %>
<h1>About Budget Planner</h1>
<p class="about-body">
  Simple budget application to help manage your personal finances. Create a budget, add expenses and sources of income. Check the status of your budget and see expense totals by various tags.<br><br>Temporarily under construction. Features will be added over the course of time.<br>Current feature set: Sign In/Out, Account Management.
</p>