<% provide(:title, 'About') %>
<h1>About Budget Planner</h1>
<p>
  Simple budget application to help manage your personal finances. Create a budget, add expenses and sources of income. Check the status of your budget and see expense totals by various tags.
</p>