<!-- I THINK THIS ISNT USED ANYMORE -->
<div>
	<div class="center hero-unit">
		<h1> Welcome to Budget Planner</h1>

		<h2>
			This is the home page for a simple Budget Planner application.
		</h2>

		<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-success" %>
	</div>
</div>
