<div class="budget-display">
	<div class="col-md-12">
		<span class="budget-name">
			<%= budget.name %>
		</span>
	</div>
	<div class="col-md-12">
		<span class="budget-amount">
			Amount: $<%= number_with_precision(budget.amount, precision: 2) %>
		</span>
	</div>
	<div class="col-md-12">
		<span class="budget-visual">
			=================
		</span>
	</div>
	<div class="col-md-12">
		<span class="budget-edit">
			<%= link_to "Edit", edit_budget_path, class: "btn btn-warning" %>
			<%= link_to "Delete", budget, method: :delete, 
									  	  data: { confirm: 'Are you sure?' }, 
										  class: "btn btn-danger" %>
		</span>
	</div>
</div>