<% provide(:title, "Budget") %>

<div class="row">
	<%= render 'layouts/budget_header' %>
	<div class="center hero-unit-alternate-background top-space">
		<div class="row row-no-margin">
			<%= render 'shared/net_worth' %>
			<!-- Temporary comment is additional feature -->
			<!-- <div class="col-xs-6"> -->
				<div class="row">
					<% if (@user.present?) && (@user.budget.present?)  %>	
						<%= render @budget %>
					<% else %>
						<%= link_to "+ Add Budget", new_budget_path, class: "btn btn-large" %>
					<% end %>
				</div>
			<!-- </div> -->
<!-- 			<div class="col-xs-6">
				Budget Overview
			</div> -->
		</div>
	</div>
</div>