<% provide(:title, @user.name) %> <!-- Should be the selected tab: expenses, income or budget -->
<div class="row">
	<%= render 'layouts/budget_header' %>
	<!-- <h3 class="center welcome-title">Welcome to BUDGET.IT <%= @user.name %>!</h3> -->
	<div class="center hero-unit-alternate-background top-space">
		<%= render 'layouts/budget_view' %>
	</div>
</div>