<li>
	<%= link_to edit_income_path(income), :class=>"incomes" do %>
		<span class="tag"><%= income.tag %></span>
		<span class="amount"><%= number_to_currency(income.amount, precision: 2) %></span>
	<% end %>
</li>