<% provide(:title, "Incomes") %>

<div class="row">
	<%= render 'layouts/budget_header' %>
	<div class="center hero-unit-alternate-background top-space">
		<div class="row">
			<div class="col-xs-6">
				<div class="row">
					<%= link_to "+ Add Income", new_income_path, class: "btn btn-large" %>
					<% if (@user.present?) && (@user.budget.incomes.present?)  %>
						<div class="expense-container">	
							<ol class="incomes">
								<%= render @incomes %>
							</ol>
						</div>
					<% end %>
				</div>
			</div>
			<div class="col-xs-6">
				Income Overview
			</div>
		</div>
	</div>
</div>