@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
$lightBlue: #00CCFF;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;

  h1 {
  	margin-bottom: 10px;
  }
}

.black-text {
	color: black;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

  h3 {
  	margin-bottom: 30px;
  }

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;

  &:hover {
  color: white;
  text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  
  a {
  	color: $gray;

  	&:hover {
  		color: $grayDarker;
	}
  }	

  small {
  	float: left;
  }

  ul {
	  float: right;
	  list-style: none;

	  li {
	  	float: left;
	  	margin-left: 10px;
	  }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* Pill Nav */

.center-nav {
	width: 50%;
	margin: auto;
	padding-bottom: 10px;
}

.sub-nav {
	width: 50%;
	margin: auto;
}


/* Columns */

.col-md-3,
.col-md-6
.col-xs-6 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 992px) {
  .col-md-3,
  .col-md-6 {
    float: left;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-6 {
    width: 50%;
  }
}

.col-xs-6 {
  float: left;
}

.col-xs-6 {
  width: 50%;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* Sign up highlight */

.new-user {
	margin: auto;
	padding: 25px;
	text-align: center;
	font-size: 1.25em;
	b {
		font-size: 1.3em;
	}
}

/* Sign in button */

.sign-in-button {
	margin: auto;
	padding-bottom: 40px;
	padding-top: 20px;
	text-align: center;
	font-size: 1.25em;
}

/* Main screen */

.hero-unit-alternate-background {
	padding: 60px;
	margin-bottom: 30px;
	font-size: 18px;
	font-weight: 200;
	line-height: 30px;
	color: inherit;
	background-color: $lightBlue;
	opacity: 0.3;
    filter: alpha(opacity=30);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.alt-background {
	background-color: $lightBlue;
	opacity: 0.3;
    filter: alpha(opacity=30);
}