<% provide(:title, "Edit Expense") %>

<% if signed_in? %>
  <div class="center budget-creator">
    <h3>Edit Expense</h3>
    <div class="row">
      <div class="span5"></div>
      <div class="span2">
        <%= render 'shared/expense_form' %>
      </div>
      <div class="span5"></div>
    </div>
  </div>
<% else %>
  <%= redirect_to root_path %>
<% end %>