<% provide(:title, "Expenses") %>

<div class="row">
	<%= render 'layouts/budget_header' %>
	<div class="center hero-unit-alternate-background top-space">
		<div class="row row-no-margin">
			<%= render 'shared/net_worth' %>
			<div class="col-xs-6">
				<div class="row">
					<%= link_to "+ Add Expense", new_expense_path, class: "btn btn-large" %>
					<% if (@user.present?) && (@user.budget.expenses.present?)  %>
						<div class="expense-container">	
							<ol class="expenses">
								<%= render @expenses %>
							</ol>
						</div>
					<% end %>
				</div>
			</div>
			<div class="col-xs-6">
				Expenses Overview
			</div>
		</div>
	</div>
</div>