<div class="row center-nav budget-header btn-toolbar sub-nav budget-pills">
	<div class="btn-group left-btn-group" data-toggle="buttons">
		<%= link_to "Expenses", show_expenses_path, id: "expense-pill", class: "btn btn-default", role: "button", type: "radio" %>
		<%= link_to "Income", show_incomes_path, id: "income-pill", class: "btn btn-default", role: "button", type: "radio" %>
	</div>
	<div class="btn-group" data-toggle="buttons">
		<%= link_to "Budget", show_budget_path, id: "budget-pill", class: "btn btn-default", role: "button", type: "radio" %>
	</div>
</div>