<div class="row">
	<div class="col-xs-6">
		<div class="row">		
			<%= link_to "+ Add Budget", '', class: "btn btn-large" %>
		</div>
		<div class="row">
			Budget List
		</div>
	</div>
	<div class="col-xs-6">
		Budget Overview
	</div>
</div>