<div class="budget-display">
	<div class="col-md-12">
		<span class="budget-name">
			<%= expense.tag %>
		</span>
	</div>
	<div class="col-md-12">
		<span class="budget-amount">
			Amount: $<%= number_with_precision(expense.amount, precision: 2) %>
		</span>
	</div>
	<div class="col-md-12">
		<span class="budget-visual">
			=================
		</span>
	</div>
	<div class="col-md-12">
		<span class="budget-edit">
			<%= link_to "Edit Expense", edit_expense_path(expense), class: "btn" %>
		</span>
	</div>
</div>