<div class="row">
	<div class="col-xs-6">
		<div class="row">		
			<%= link_to "+ Add Expense", '', class: "btn btn-large" %>
		</div>
		<div class="row">
			Expense List
		</div>
		</div>
		<div class="col-xs-6">
			Expense Overview
		</div>
	</div>
</div>