<div class="row">
	<div class="col-xs-6">
		<div class="row">		
			<%= link_to "+ Add Income", '', class: "btn btn-large" %>
		</div>
		<div class="row">
			Income List
		</div>
		</div>
		<div class="col-xs-6">
			Income Overview
		</div>
	</div>
</div>